{% extends 'base.html' %}
{% load static %}

{% block start %}
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="{% url 'landing:landing' %}">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Checkout</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                    {% if user.is_authenticated %}
                        <div class="row">
                        <div class="col-md-6 form-group">
                            <label>First Name</label>
                            <div>{{ user.first_name }}</div>

                        </div>
                        <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            <div>{{ user.last_name }}</div>

                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <div>{{ user.email }}</div>

                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <div>{{ user.phone }}</div>

                        </div>
                        {% for address in addresses %}
                            <div class="col-md-6 form-group">
                                <label>Address Line</label>
                                <div>{{ address.street }}-{{ address.alley }}-{{ address.num }}</div>

                            </div>
                            <div class="col-md-6 form-group">
                                <label>Province</label>
                                <div>{{ address.province }}</div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>City</label>
                                <div>{{ address.city }}</div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Postal Code</label>
                                <div>{{ address.postal_code }}</div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="col-md-12 form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="newaccount">
                            <label class="custom-control-label" for="newaccount">Create an account</label>
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="shipto">
                            <label class="custom-control-label" for="shipto" data-toggle="collapse"
                                   data-target="#shipping-address">Ship to different address</label>
                        </div>
                    </div>
                    </div>

                </div>
                <div class="collapse mb-4" id="shipping-address">
                    <h4 class="font-weight-semi-bold mb-4">Shipping Address</h4>
                    {% if user.is_authenticated %}
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>First Name</label>
                                <input class="form-control" type="text" placeholder="{{ user.first_name }}">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Last Name</label>
                                <input class="form-control" type="text" placeholder="{{ user.last_name }}">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>E-mail</label>
                                <input class="form-control" type="text" placeholder="example@email.com">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Mobile No</label>
                                <input class="form-control" type="text" placeholder="+123 456 789">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Address Line 1</label>
                                <input class="form-control" type="text" placeholder="123 Street">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Address Line 2</label>
                                <input class="form-control" type="text" placeholder="123 Street">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Country</label>
                                <select class="custom-select">
                                    <option selected>United States</option>
                                    <option>Afghanistan</option>
                                    <option>Albania</option>
                                    <option>Algeria</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>City</label>
                                <input class="form-control" type="text" placeholder="New York">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>State</label>
                                <input class="form-control" type="text" placeholder="New York">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>ZIP Code</label>
                                <input class="form-control" type="text" placeholder="123">
                            </div>
                        </div>

                    {% endif %}

                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>
                        {% for item in order.items.all %}
                            <div class="d-flex justify-content-between">
                                <p>{{ item.product }}</p>
                                <p>{{ item.price }}</p>
                            </div>

                        {% endfor %}


                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">${{ order.get_subtotal_price }}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Discount</h6>
                            {% if order.discount_code.type == 'M' %}
                                <h6 class="font-weight-medium">${{ order.discount_code.value }}</h6>
                            {% else %}
                                <h6 class="font-weight-medium">%{{ order.discount_code.value }}</h6>
                            {% endif %}

                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">${{ order.get_total_price }}</h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Discount</h4>
                    </div>
                    <div class="card-body">
                        <form class="mb-5" method="post" action="{% url 'order:code_apply' order.id %}">
                            {% csrf_token %}
                            <div class="input-group">
                                {{ form }}
                                <div class="input-group-append">
                                    <input type="submit" class="btn btn-primary" value="Apply Coupon">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <a href="{% url 'order:place_order' order.id %}"
                           class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->
{% endblock %}